<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>入力結果</title>
</head>
<body>
  <%
  require 'mysql2'

  client = Mysql2::Client.new(:host => 'localhost', :username => 'root', :password => 'root', :database => 'GEEKJOB_db')

 # client.query(%q{delete from profiles where profilesID = @params["?"]})
# client.query(%q{delete from profiles where profilesID = $1}, [@params["id"]])
  # client.query(%q{delete from profiles where profilesID = 10})
  statement = client.prepare(%q{delete from profiles where profilesID = ?})
  statement.execute(@params["id"])
  
 %>
<p>delete</p>
<!-- <p><%=@params["id"]%></p> -->
</body>
</html>
